
.about_product {
  padding-top: 100px;
  @include respond-to(320px) {
    padding-top: 60px;
  }
  @include respond-to(480px) {
    padding-top: 70px;
  }
  @include respond-to(768px) {
    padding-top: 100px;
  }
}

.product_about_img,
.product_about_text {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(992px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.about_img {
  position: relative;
  text-align: center;
}

.about_img img {
  vertical-align: middle;
  border-style: none;
}

.text_left {
  background: $white none repeat scroll 0 0;
  border-radius: 25px;
  box-shadow: 1px 2px 2px 2px $gray;
  color: #303030;
  font-size: 24px;
  left: -100px;
  padding: 15px 40px;
  position: absolute;
  text-align: left;
  text-transform: capitalize;
  top: 45%;
  transform: rotate(-90deg);
  @include respond-to(320px) {
    font-size: 18px;
    left: -70px;
    padding: 10px 18px;
    top: 44%;
  }
  @include respond-to(768px) {
    font-size: 24px;
    left: -100px;
    padding: 15px 40px;
    top: 45%;
  }
}

.about_content {
  padding-left: 25px;
  padding-top: 65px;
}

.about_content h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.old_price {
  font-size: 18px;
  text-decoration: line-through;
  color: #000000;
}

.new_price {
  color: #e97730;
  font-size: 22px;
  font-weight: 500;
}

.about_content_btn {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  border: none;
  padding: 14px 40px;
  background: #e97730;
  color: #ffffff;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.about_content_btn:hover {
  background: #000000;
  color: #ffffff;
}