$opensans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$theme-color: #e97730;;
$body-color: #fff;
$dark: #191919;
$heading-color: #383838;
$color: #e97730;
$white: #ffffff;
$gray: #dddddd;
$footer_color: #f0f0f0;