
.header_search_active {
  background: rgba(0, 0, 0, 0.92) none repeat scroll 0 0;
  width: 100%;
  min-height: 100vh;
  padding: 32px 46px 39px;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9999;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar_search_icon {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  border-radius: 100%;
  color: #ffffff;
  font-size: 30px;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;
}

.sidebar_search_input {
    align-self: center;
    display: flex;
    align-items: center;
}

.form_search {
  position: relative;
}

.input_text {
  background-color: rgba(0, 0, 0, 0);
  border-color: #dddddd;
  border-style: solid;
  border-width: 0 0 1px;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  padding: 15px 50px 15px 0;
  width: 800px;
  touch-action: manipulation;
  outline-offset: -2px;
  -webkit-appearance: none;
  overflow: visible;
  margin: 0;
  font-family: inherit;

  @include respond-to(320px) {
    width: 280px;
  }
  @include respond-to(480px) {
    width: 400px;
  }
  @include respond-to(768px) {
    width: 800px;
  }
}

.search_btn {
  background-color: rgba(0, 0, 0, 0);
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 25px;
  transition: all 0.3s ease 0s;
  width: 40px;
}

.search_btn:hover {
  color:$color;
}

.search_close {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  line-height: 1;
  transition: all 0.3s ease 0s;
}

.search_close:hover {
  color:$color;
}

.inside {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}

.header_top {
  background-color: $color;
}

.welcome_message {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: left;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  @include respond-to(320px) {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  @include respond-to(768px) {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
    justify-content: flex-start;
  }
}

.currancy_language {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  @include respond-to(320px) {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }

  @include respond-to(768px) {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: right;
    justify-content: flex-end;
  }
}

.header_top p {
  color: $white;
  font-size: 14px;
  padding: 15px 0;
  line-height: 16px;
  margin-top: 0;
}


.header_dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
}

.header_dropdown:hover ul {
  display: block;
}

.currancy_language ul li.header_dropdown:first-child:before {
  position: absolute;
  height: 12px;
  right: 0;
  content: "";
  background-color: #ddd;
  width: 1px;
  top: 50%;
  margin-top: -5px;

  @include respond-to(320px) {
    margin-top: -12px;
  }
  @include respond-to(768px) {
    margin-top: -5px;
  }
}


.open_dropdown_menu {
  position: absolute;
  right: 0;
  background: #333;
  top: 125%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 110px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  padding: 5px;
}

.open_dropdown_menu li {
  text-align: left;
}

.open_dropdown_menu li a {
  display: block;
  line-height: 14px;
  padding: 8px;
}

.open_dropdown_menu li a:hover {
  color: $color;
}

.header_dropdown:hover .open_dropdown_menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}


.header_dropdown:last-child {
  margin-right: 0;
  padding-right: 0;
}

.header_dropdown a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  padding: 15px 0;
  padding-top: 0;

  @include respond-to(768px) {
    padding-top: 15px;
  }
}

.header_dropdown a:hover {
  color: $dark;
}

.header_dropdown a img {
  margin-right: 5px;
  margin-bottom: 2px;
  vertical-align: middle;
  border-style: none;
}

.header_dropdown ul {
  display: none;
  position: absolute;
}


.header_logo,
.header_menu,
.header_custom {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.header_logo {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  @include respond-to (768px) {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

.header_menu {
  display: block;
  flex: 0 0 66.666666%;
  max-width: 66.666666%;
  @include respond-to(320px) {
    display: none;
  }
  @include respond-to(768px) {
    display: block;
  }
}

.header_custom {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  @include respond-to (768px) {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

.logo {
  margin: 25px 0;
  width: 125px;
  @include respond-to (768px) {
    margin: 40px 0;
    width: 100%;
  }
}


.header_right_block_inner {
  display: flex;
  justify-content: flex-end;
  @include respond-to(320px) {
    margin: 28px 34px 24px 0;
  }
  @include respond-to(480px) {
    margin: 34px 40px 24px 0;
  }
  @include respond-to(768px) {
    margin: 45px 0;
  }
}

.header_right_block_inner a{
 @include respond-to(320px) {
   font-size: 20px;
 }
 @include respond-to(768px) {
   font-size: 24px;
 }
}

.main_menu_area {
  text-align: center;
}

.main_navigation {
  display: block;
}

.main_menu_area ul > li:first-child {
  padding-left: 0;
}

.main_menu_area ul > li {
  display: inline-block;
  position: relative;
  padding: 0 14px;
}

.main_menu_area .sub_menu > li {
  padding: 0;
}

.main_menu_area .sub_menu > li > a {
  padding: 0;
  margin-bottom: 5px;
}

.main_menu_area ul > li > a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 48px 0;
  text-transform: uppercase;
  position: relative;
  transition: 0.4s;
}

.main_menu_area ul > li:first-child {
  padding-left: 0;
}

.main_menu_area > nav > ul > li > a:before {
  content: "";
  background: #e97730;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
}

.main_menu_area ul > li:hover > a:before {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  width: 100%;
}

.header_user {
@include respond-to(320px) {
  padding: 0 15px;
}
@include respond-to(768px) {
  padding: 0 20px;
}
}

.sub_menu {
  background: #ffffff;
  left: 0;
  padding: 15px;
  position: absolute;
  text-align: left;
  width: 180px;
  z-index: 99;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.mega_menu {
  background: #ffffff;
  left: 0;
  padding: 30px 20px;
  position: absolute;
  text-align: left;
  width: 640px;
  z-index: 99;
  top: 120%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.main_menu_area .mega_menu > li {
  width: 33.333%;
  float: left;
  padding: 0;
}

.main_menu_area .mega_menu > li a {
  padding: 0;
  font-weight: 600;
}

.main_menu_area .mega_menu > li ul li {
  display: block;
  padding: 0;
}

.main_menu_area .mega_menu > li ul li a {
  padding: 0;
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  margin-top: 5px;
}



.main_menu_area ul > li:hover .sub_menu,
.main_menu_area ul > li:hover .mega_menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}