
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body{
  background-color: $body-color;
  line-height: 26px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
  font-family: $montserrat;
  color: $dark;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.align_helper {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-color;
  font-family: $montserrat;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: 58px;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 12px;
  line-height: 14px;
}

p:last-child {
  margin-bottom: 0;
}

p{
  font-family: $opensans;
}

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}


a, button, img, input, span {
  transition: all 0.3s ease 0s;
}

a:hover {
  text-decoration: none;
  color: $theme-color;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}


