
@mixin respond-to($media) {
  @if $media == 320px {
    @media screen and (min-width: 320px) {@content}
  }
  @else if $media == 375px {
    @media screen and (min-width: 375px) {@content}
  }
  @else if $media == 414px {
    @media screen and (min-width: 414px) {@content}
  }
  @else if $media == 480px {
    @media screen and (min-width: 480px) {@content}
  }
  @else if $media == 576px {
    @media screen and (min-width: 576px) {@content}
  }
  @else if $media == 600px {
    @media screen and (min-width: 600px) {@content}
  }
  @else if $media == 768px {
    @media screen and (min-width: 768px) {@content}
  }
  @else if $media == 800px {
    @media screen and (min-width: 800px) {@content}
  }
  @else if $media == 992px {
    @media screen and (min-width: 992px) {@content}
  }
  @else if $media == 1200px {
    @media screen and (min-width: 1200px) {@content}
  }
}
