@font-face {
  font-family: "Simple-Line-Icons";
  src: url(../fonts/Simple-Line-Icons.ttf) format("truetype");
  src: url(../fonts/Simple-Line-Icons.woff) format("truetype");
  src: url(../fonts/Simple-Line-Icons.woff2) format("truetype");
}

@font-face {
  font-family: "ionicons";
  src: url(../fonts/ionicons.ttf) format("truetype");
  src: url(../fonts/ionicons.woff) format("truetype");
}