.product_area {
  padding: 100px 0;
  @include respond-to(320px){
    padding: 60px 0;
  }
  @include respond-to(480px){
    padding: 70px 0;
  }
  @include respond-to(768px){
    padding: 100px 0;
  }
}

.product_area_title {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.product_title {
  margin-bottom: 20px;
  text-align: center;
}

.product_title h2 {
  font-size: 30px;
  margin-top: -5px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product_container {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(576px){
    flex: 0 0 50%;
    max-width: 50%;
  }
  @include respond-to(768px){
    flex: 0 0 33.333333%;
    max-width: 33%;
  }
  @include respond-to(992px){
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.product {
  margin-top: 30px;
}

.product_image {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

//.product_image img:after {
//  content: "";
//  background: rgba(0, 0, 0, 0.38) none repeat scroll 0 0;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  top: 0;
//  left: 0;
//  opacity: 0;
//  transition: 0.4s;
//}
//
//.product:hover .product_image img:after {
//  opacity: 1;
//}

.product_image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  margin: auto;
}

.product_content {
  margin-top: 20px;
  text-align: center;
}

.product_content h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.product_old_price {
  text-decoration: line-through;
  font-size: 15px;
  font-weight: 500;
}


.product_new_price {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.product_action {
  display: inline-block;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}
.product:hover .product_action {
  opacity: 1;
  transform: translateY(-50%);
}

.wishlist,
.add_to_cart,
.quick_view {
  background: #ffffff none repeat scroll 0 0;
  display: inline-block;
  height: 50px;
  line-height: 54px;
  width: 50px;
}

.wishlist:hover,
.add_to_cart:hover,
.quick_view:hover {
  color:$white;
  background-color: $color;
}

.banner_area {
  padding: 100px 0;
  background: url(../images/background/01.jpg);
  @include respond-to(320px){
    padding: 60px 0;
  }
  @include respond-to(480px){
    padding: 70px 0;
  }
  @include respond-to(768px){
    padding: 100px 0;
  }
}

.information {
  padding-left: 15px;
}

.information h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 55px;
  margin-top: -11px;
}

.information p {
  margin-bottom: 0;
}

.information_btn {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  padding: 18px 40px;
  margin-top: 25px;
  transition: 0.4s;
  background: #e97730;
  color: $white;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.information_btn:hover {
  background: $dark;
  color: $white;
}

.sale_area {
  padding-bottom: 100px;
  @include respond-to(320px){
    padding-bottom: 60px;
  }
  @include respond-to(480px){
    padding-bottom: 70px;
  }
  @include respond-to(768px){
    padding-bottom: 100px;
  }
}

.sale_banner {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(768px){
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.sale_banner_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner_bg_left > a,
.banner_bg_right > a {
  display: block;
  overflow: hidden;
  position: relative;
}

.banner_bg_left > a:before,
.banner_bg_right > a:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, -120%, 0px);
  transition: -webkit-transform 0.6s ease 0s;
  transition: transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
  width: 100%;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
}

.banner_bg_right > a:hover:before,
.banner_bg_left > a:hover:before {
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0px, 120%, 0px);
  visibility: visible;
  opacity: 0.5;
}

.banner_content {
  position: absolute;
  top: 50%;
  padding-left: 60px;
  transform: translateY(-50%);
}

.banner_content p {
  color: $white;
  font-style: italic;
  font-size: 24px;
  margin-bottom: 10px;
}

.banner_content h3 {
  color: $white;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
}

.banner_content a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: underline;
}

.slider_with_comments {
  background: url(../images/background/02.jpg);
  position: relative;
  padding: 100px 0;
}

.follow_area {
  padding-top: 100px;
  @include respond-to(320px){
    padding-top: 60px 0;
  }
  @include respond-to(480px){
    padding-top: 70px 0;
  }
  @include respond-to(768px){
    padding-top: 100px 0;
  }
}

.instagramm_title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: -5px;
}

.instagramm_title h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: -5px;
}

.slider_instagramm {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.instagramm_slider {
  @include respond-to(320px){
    text-align: center;
  }
}

#instagramm li a img {
  width: 100%;
}


.follow_instagramm {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(992px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.subscribe_area {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(992px){
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: 8.333333%;
  }
}

.subscribe {
  padding-top: 50px;
}

.subscribe_title {
  text-align: center;
}

.subscribe_title h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}

.subscribe_title p {
  margin-top: 0;
}

.subscribe_content {
  margin-top: 30px;
  text-align: center;
}

.input_field {
  width: 100%;
  border: 2px solid #e0e0e0;
  text-align: center;
  height: 60px;
  color:$dark;
  padding: 15px;
  font-size:15px;
}

.subscribe_btn {
  font-weight: 500;
  padding: 15px 40px;
  margin-top: 30px;
  text-transform: uppercase;
  background: #e97730;
  color: #ffffff;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
}

.subscribe_btn:hover {
  background: $dark;
  color:$white;
}


.slider_brand_area {
  padding: 100px 0;
  @include respond-to(320px){
    padding: 60px 0;
  }
  @include respond-to(480px){
    padding: 70px 0;
  }
  @include respond-to(768px){
    padding: 100px 0;
  }
}

.slider_brand {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}