.footer_area {
  display: block;
}

.footer_top {
  background: $footer_color;
  padding-bottom: 100px;
  padding-top: 40px;
}

.footer_bottom {
  background: #e4e4e4;
  padding: 18px 0;
}

.my_account {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(768px){
    flex: 0 0 100%;
    max-width: 100%;
  }
  @include respond-to(992px){
    flex: 0 0 33.333333%;;
    max-width: 33.333333%;;
  }
}

.categories {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(768px){
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @include respond-to(992px){
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

.footer_information {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(768px){
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @include respond-to(992px){
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-left: 8.333333%;
  }
}

.quick_links {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(768px){
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  @include respond-to(992px){
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    margin-left: 8.333333%;
  }
}

.account_information,
.categories_list,
.information_list,
.quick_links_list{
  margin-top: 60px;
}

.account_title,
.categories_title,
.information_title,
.quick_links_title {
  margin-bottom: 25px;
}

.account_title h3,
.categories_title h3,
.information_title h3,
.quick_links_title h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

.account_info li {
  margin-bottom: 15px;
}

.account_info li i {
  font-size: 20px;
  margin-right: 8px;
}

.list li {
  margin-bottom: 15px;
  line-height: 16px;
}

.social_block,
.copyright_block {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  @include respond-to(992px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.copyright p {
  margin: 0;
  @include respond-to(320px){
    text-align: center;
  }
  @include respond-to(768px){
    text-align: left;
  }
}

.social_list {
  @include respond-to(320px){
    float: inherit;
    text-align: center;
    margin-top: 10px;
  }
  @include respond-to(768px){
    float: right;
    margin-top: 0;
  }
}

.social_list li {
  display: inline-block;
}

.social_list li:first-child a {
  margin-left: 0px;
}

.social_list li a {
  display: block;
  margin-left: 30px;
}
